Repository nickerick/skill-magnet, pull requests merged in 2024-02, with the labels that each got.

#15 Backend Courses
  server/src/main/java/com/skillmagnet/Course/Course.java
  server/src/main/java/com/skillmagnet/Course/CourseController.java
  server/src/main/java/com/skillmagnet/Course/CourseRepository.java
Labels: server

#9 Video Upload / Streaming POC
  client/package-lock.json
  client/package.json
  client/src/components/example/VideoUploadExample.jsx
  client/src/main.jsx
  client/src/pages/example/Example.jsx
  client/src/pages/marketplace/Marketplace.jsx
  client/src/services/VideoService.js
  client/vite.config.js
  server/.gitignore
Labels: server, client

#26 created navbar
  client/src/assets/search.svg
  client/src/components/navbar/NavBar.css
  client/src/components/navbar/NavBar.jsx
  client/src/main.css
  client/src/main.jsx
  client/src/pages/creatorstudio/CreatorStudio.jsx
  client/src/pages/home/Home.css
  client/src/pages/mycourses/MyCourses.jsx
  client/src/pages/shell/Shell.css
  client/src/pages/shell/Shell.jsx
Labels: client

#16 adding the course card component
  client/src/components/CourseCard.css
  client/src/components/CourseCard.jsx
  client/src/pages/marketplace/Marketplace.css
  client/src/pages/marketplace/Marketplace.jsx
Labels: client
